@charset "utf-8";

body {
    background-color: #000000;
    color: #FFFFFF;
	font-family: Papyrus, sans-serif
}
h1 {
	color: #FFFFFF;
	font-family:Papyrus, sans-serif
}
h2 {
	color: #FFFFFF;
	font-family:Papyrus, sans-serif
}
h3 {
	color: #FFFFFF;
	font-family:Papyrus, sans-serif
}
h4 {
	color: #FFFFFF;
	font-family:Papyrus, sans-serif
}
p {
	color: #FFFFFF;
	font-family:Papyrus, sans-serif
}
A:link{
	color: #FFE784;
	text-decoration: none;
}
A:hover{
	color: #FFFDD5;
	text-decoration: none;
}
A:active{
	color: #FFFF00;
	text-decoration: none;
}
A:visited{
	color: #AA9F88;
	text-decoration: none;
}
img {
	border-color: #000000;
}